appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
idna
inventree==0.1.2
itypes==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
requests==2.25.1
uritemplate==3.0.1
urllib3==1.26.4
